html {
  background-color: #010101;
  color: #FFF;
  font-family: 'noto sans kr';
}

.sample-img {
  height: 20rem;
  background: url('/src/assets/images/sample.jpg');
  background-repeat: no-repeat;
}

.sample-svg {
  width: 100%;
}